@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
body {
  background-color: #F6E4D8;
}

header {
  display: flex;
  flex-direction: column;
}
header div {
  display: flex;
  justify-content: center;
}
header div img {
  width: 7%;
}
header nav {
  width: 100%;
  background-color: #EE8800;
  text-align: center;
}
header nav ul {
  display: inline-flex;
  align-items: center;
}
header nav ul li {
  padding: 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
header nav ul li a {
  color: #fff;
  font-family: "Dancing Script", cursive;
  font-size: 2.5em;
  text-decoration: none;
}

#Quiénessomos {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 57em;
  margin: 2em;
  background-image: url(../Imagenes/prueba.jpg);
  background-size: cover;
}
#Quiénessomos .grids-historia {
  display: grid;
  grid-template-rows: auto auto;
  width: 50%;
  height: 50%;
}
#Quiénessomos .grids-historia h3 {
  text-align: center;
  font-size: 3em;
  color: #fff;
  font-family: "Playfair Display", serif;
}
#Quiénessomos .grids-historia .quienesSomos p {
  text-align: center;
  color: #fff;
  font-family: "Playfair Display", serif;
  background-color: #000;
}

.Grids-menu {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto;
  justify-items: center;
  margin: 2em;
}
.Grids-menu img {
  width: 63%;
}
.Grids-menu .imgParrilla {
  width: 65%;
}
.Grids-menu .Horarios {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Grids-menu .Horarios table {
  border: 2px solid #000;
  background-color: #ee8800;
}
.Grids-menu .Horarios table tr th {
  color: white;
}
.Grids-menu .Horarios table tr td span {
  color: #000;
}

#Contactanos {
  background-color: #EE8800;
  display: grid;
  grid-template-columns: auto auto;
  height: 40em;
  margin: 2em;
}
#Contactanos .Google-maps {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Contactanos .Google-maps h3 {
  color: #fff;
  text-align: center;
}
#Contactanos .Google-maps iframe {
  width: 100%;
  height: 100%;
  padding: 2em;
}
#Contactanos .Contacto {
  display: grid;
  justify-items: center;
}
#Contactanos .Contacto .Wpp {
  display: flex;
  flex-direction: column;
}
#Contactanos .Contacto .Wpp .basic {
  width: 100%;
}
#Contactanos .Contacto .Wpp .texto {
  height: 20em;
  width: 100%;
}

@media (max-width: 768px) {
  header div img {
    width: 30%;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
  }

  .Grids-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Grids-menu .imgCarta {
    width: 100%;
  }
  .Grids-menu .imgParrilla {
    width: 100%;
  }

  #Quiénessomos {
    background-size: auto;
  }

  #Contactanos {
    display: flex;
    flex-direction: column;
    height: 55em;
  }
  #Contactanos .Google-maps {
    justify-items: center;
  }
  #Contactanos .Google-maps iframe {
    width: 100%;
  }

  footer {
    background-color: #ee8800;
  }
  footer div a img {
    width: 20%;
  }
}
#Galería {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Galería h3 {
  text-align: center;
  font-size: 2.5em;
  font-family: "Dancing Script", cursive;
  color: #fff;
  background-color: #ee8800;
  margin: 1em;
  margin-bottom: 0;
}
#Galería #carouselExampleIndicators {
  margin: 2em;
}
#Galería #carouselExampleIndicators .img-1 {
  width: 80%;
}
#Galería #carouselExampleIndicators .img-2 {
  width: 67%;
}
#Galería #carouselExampleIndicators .img-3 {
  width: 62%;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}

footer h3 {
  text-align: center;
  font-family: "Dancing Script", cursive;
  color: #000;
}
footer .footer-grid {
  background-color: #F6E4D8;
  display: grid;
  grid-template-columns: auto auto;
}
footer a {
  text-decoration: none;
}
footer a img {
  width: 5%;
}
footer .redes {
  display: flex;
  justify-content: center;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

/*# sourceMappingURL=style.css.map */
