#Contactanos {
    background-color: #f4a2b4;
    .Google-maps {
        display: grid;
        grid-template-rows: auto auto;
        justify-content: center;
    
        h3 {
            color: #fff;
            text-align: center;
        } 
    }
}