// Inicio
@media (max-width: 768px){
    .Grids-menu {
        img {
            width: 94%;
        }
        .Horarios {
            display: flex;
        }

        .imgParrilla {
            width: 100%;
        }
    }
    // Contactanos
    .Google-maps {
        justify-items: center;
        iframe {
            width: 50%;

        }
    }
   
}