// Inicio
@media (max-width: 768px){
    .Grids-menu {
        img {
            width: 94%;
        }
        .Horarios {
            display: flex;
        }

        .imgParrilla {
            width: 100%;
        }
    }
   
}