#Quiénessomos {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 57em;
    margin: 2em;
    background-image: url(../Imagenes/prueba.jpg);
    background-size: cover;
    .grids-historia {
        // background-color: #F6B285;
        display: grid;
        grid-template-rows: auto auto;
        width: 50%;
        height: 50%;
        h3 {
            text-align: center;
            font-size: 3em;
            color: #fff;
        }
        .quienesSomos {
            p {
                text-align: center;
                color: #fff;
            }
        }
    }
}

