@import 'body';
@import 'header';
@import 'quienessomos';
@import 'inicio';
@import 'contactanos';
@import 'mediaqueryes';






* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
  
}