@import 'body';
@import 'header';
@import 'quienessomos';
@import 'inicio';
@import 'contactanos';
@import 'mediaqueryes';
@import 'fuentes';
@import 'galeria';
@import 'wpp-button';
@import 'footer';
@import 'testimonios';





* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
  
}